/robot_software_engineer_term_1/project_2_robotic_arm_pick_and_place/project2_ws/build/
/robot_software_engineer_term_1/project_2_robotic_arm_pick_and_place/project2_ws/devel/

/robot_software_engineer_term_1/ros_ws/test_ws/build/
/robot_software_engineer_term_1/ros_ws/test_ws/devel/

/robot_software_engineer_term_1/RoboND-Python-StarterKit/

/useful_extras/Anaconda3-5.1.0-Linux-x86_64.sh
/useful_extras/Linux_Roversim.zip
